# Hide Directory/File
.DS_STORE
.CFUserTextEncoding
.android
.cache
.cargo
.config/htop/
.config/iterm2/
.config/xbuild/
.dart/
.dartServer/
.docker/
.dotfiles/
.emulator_console_auth_token
.flutter
.gradle/
.lesshst
.local/
.npm/
.oh-my-zsh/
.profile
.pub-cache/
.pyenv/
.python_history
.rustup/
.ssh/
.swiftpm/
.viminfo
.vscode/
.zcompdump-Pochi-5.8.1
.zcompdump-Pochi-5.8.1.zwc
.zprofile
.zsh_history
.zsh_sessions/
.zshenv
.Trash
.vim-bookmarks
.IdentityService/
.aspnet/
.dotnet/
.mono/
.ms_openjdk_config
.nuget/
.templateengine/
.nvm/

# Directory/File
Library
Desktop
Documents
Downloads
Flutter
Movies
Music
Pictures
Public
